<html>
    <head>
        <title>
            Verification
        </title>
        <link rel="stylesheet" href="./css/reset.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/Theme.css">
        <link rel="stylesheet" href="./css/all_appointments.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
         <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    </head>
    <body>
        <%- include('header',{Profile:Name,mobile:Mobile,pic:dp}) %>
        <section class="hero">
            <div class="container">
                <div class="dashboard">
                   <h2 class="Dashboardh2">
                       Dashboard
                   </h2>
                   <ul>
                    <li><a href="/admin_dashboard/page1">
                        <div>
                            <i class="fas fa-hospital"></i>Dashboard
                        </div>
                    </a></li>
                    <li><a href="/admin_users">
                        <div>
                            <i class="fas fa-user-md"></i>Users
                        </div>
                    </a></li>
                    <li id="edit"><a href="#">
                        <div>
                            <i class="fas fa-user-md"></i>Doctors
                        </div>
                    </a></li>
                    <li><a href="/admin_hospitals">
                        <div>
                            <i class="fas fa-file-word"></i>Hospitals
                        </div>
                    </a></li>
                    <li><a href="/user_settings">
                        <div>
                            <i class="fas fa-hospital"></i>Settings
                        </div>
                    </a></li>
                </ul>
                </div>
                <table>
                        <tr>
                            <th>Patient</th>
                            <th>Patient Phone number</th>
                            <th>User Email</th>
                            <th>HospitalName</th>
                            <th>Date</th>
                            <th>Timing</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <% for(let i of allapp){%>
                            <% if(i.Confirmed=="true"){%>
                                <tr>
                                    <td><%= i.Patientname %></td>
                                    <td><%= i.Patientmobile %></td>
                                    <td><%= i.PresenterEmail %></td>
                                    <td><%= i.HospitalName %></td>
                                    <td><%= i.createdon %></td>
                                    <td><%= i.Timeslot %></td>
                                    <td>Confirmed</td>
                                    <td><a href="/all_appointments?PresenterEmail=<%= i.PresenterEmail %>&Timeslot=<%= i.Timeslot %>&createdon=<%= i.createdon %>">Cancel</a></td>
                                </tr>
                            <%}%>
                            <% if(i.Confirmed=="false"){%>
                                <tr>
                                    <td><%= i.Patientname %></td>
                                    <td><%= i.Patientmobile %></td>
                                    <td><%= i.PresenterEmail %></td>
                                    <td><%= i.HospitalName %></td>
                                    <td><%= i.createdon %></td>
                                    <td><%= i.Timeslot %></td>
                                    <td>Completed</td>
                                    <td></td>
                                </tr>
                            <%}%>
                            <% if(i.Confirmed=="cancel"){%>
                                <tr>
                                    <td><%= i.Patientname %></td>
                                    <td><%= i.Patientmobile %></td>
                                    <td><%= i.PresenterEmail %></td>
                                    <td><%= i.HospitalName %></td>
                                    <td><%= i.createdon %></td>
                                    <td><%= i.Timeslot %></td>
                                    <td>Cancelled</td>
                                    <td></td>
                                </tr>
                            <%}%>

                        <%}%>
                         
                </table>
        </section>
    </body>

</html>